@font-face {
	font-family: 'roboto';
	src: url('./roboto-light-webfont.woff2') format('woff2'), url('./roboto-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('./roboto-bold-webfont.woff2') format('woff2'), url('./roboto-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


html{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;;
    background-image: url('/ui/static/Images/BG.png');
    background-position: 0 0;
    background-size: 100% 100%;
    margin: 0;
    height: 100%;
}
    
body{
    margin: 0;
    font-family:'roboto';
    color:rgb(0,0,0);
    font-size:18px;
}

.LoginLogo{
    position: absolute;
    top: 100px;
    left: calc(50% - 264px);
}
.LoginBanner{
    position: absolute;
    top: 55%;
    width: 100%;
    height: 150px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.75);
}

.LoginBanner .LoginTable{
    width: 400px;
    margin-left: auto;
    margin-right: 25px;
    padding-top: 23px;
    color: rgb(255,255,255);
}

.LoginBanner .LoginDisclaimer{
    margin-right: auto;
    margin-left: 25px;
    color: rgb(255,255,255);
    font-size: 22px;
    margin-top: 22px;
}

.Container{
    display: flex;
    height: 100vh;
    width: 100%;
}

.Container .Menu{
    color: rgb(255,255,255);
    width: 300px;
    background: rgba(0,0,0,0.5);
    font-size: 22px;
    -webkit-box-shadow: -6px 3px 16px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 3px 16px 12px rgba(0,0,0,0.75);
    box-shadow: -6px 3px 16px 12px rgba(0,0,0,0.75);
    height: 100vh;
}

.Container .Menu li{
    padding-left: 30px;
    margin-left: -40px;
    list-style-type: none;
    margin-bottom: 10px;
}

.Container .Content{
    width: 100%;
    height: 99vh;
}

.ContentTitle{
    font-size: 32px;
    margin-bottom: 15px;
}

blockquote.ContentSection{
    margin-inline-end: 100px;
    margin-inline-start: 100px;
    margin-block-start: 40px;
}

fieldset{
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-collapse: collapse;
    border-color: rgb(0,0,0);
    border-width: 1px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,0.5);
}
fieldset > legend{
    background-color: rgb(243,107,8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: rgb(255,255,255);
    padding: 6px;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: rgb(0,0,0);
}

fieldset table{
    color: rgb(255,255,255);
    font-size: 12px;
}

.PincodeHint{
    font-size: 12px;
    background-color: rgb(243,107,8);
    color: rgb(255,255,255);
    text-align: center;
    border-style: solid;
    border-color: rgb(0,0,0);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    padding: 5px;
    width: 80px;
    vertical-align: sub;
    margin-right: 10px;
}

.VersionDiv{

    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 50px;
    left: 65px;
}

.OptionBox{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    font-size: 14px;
    color: rgb(255,255,255);
    width: 80px;
    height: 75px;
    padding: 5px;
    border-color: rgba(255,255,255,0.0);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition-duration:0.3s;
}

.OptionBox:hover{
    border-color: rgba(255,255,255,1.0);
    background-color: rgba(220,220,220,0.3);
   
}
    

li > a, li > a:hover, li > a:visited{
    text-decoration: none;
    color: unset;
    font-size: 18px;

}

img.AccessoryIcon{
    width: 40px;
    vertical-align: middle;
}

img.RouteIcon{
    width: 40px;
    vertical-align: middle;
}



.StyledButton{
    color:rgb(255,255,255);
    background-color:#F36B08;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: rgb(0,0,0);
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    font-size: 12px;
    cursor: pointer;
    min-width: 90px;
    vertical-align: middle;
}

select{
    -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}

input[type='text'], input[type='number'], input[type='password'], select, textarea{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    width: 215px;
    height: 15px;
}
textarea{
    width:227px;
    height: 100px;
}
select{
    height: 25px;
}

div.EnrollPopUp{

    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: none;
}


/********************************/

.StyledButton[withborder]
{
    border-color: rgb(0,0,0);
    border-style: solid;
    border-width: 5px;
    font-size: 16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


.Middle {
    margin-left: auto;
    margin-right: auto;
}

.Dialog {
    border-width: 2px;
    border-style: solid;
    border-color: #F36B08;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,1);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,1);
    overflow:hidden;
    background-color:rgba(255,255,255,1.0)
}

    .Dialog .Title {
        background-color: #F36B08;
        padding-left: 10px;
        height: 40px;
        line-height: 40px;
        /*font-weight: bold;*/
        color: rgb(255,255,255);
    }

.TopBanner {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    padding-right:5px;
    color: white;
    font-size: 22px;
    background-color: #F36B08;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;

    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;        
   
}

img.invert {
    filter: invert(100%);
}


.Accessory {
    display: inline-block;
    width: 200px;
    margin-top:20px;
    margin-left: 10px;
    margin-bottom: 10px;
 
    height: 65px;
    padding-left: 5px;
    color: rgb(255,255,255);
    font-size: 16px;
    background-color: #F36B08;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-width:1px;
    border-color:rgb(0,0,0);
    border-style:solid;
    padding:10px;
    animation-delay:0.3s;
  


    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    
}

.Route {
    display: inline-block;
    width: 200px;
    margin-top:20px;
    margin-left: 10px;
    margin-bottom: 10px;
 
    height: 65px;
    padding-left: 5px;
    color: rgb(255,255,255);
    font-size: 16px;
    background-color: #F36B08;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    border-width:1px;
    border-color:rgb(0,0,0);
    border-style:solid;
    padding:10px;
    animation-delay:0.3s;

    word-break: break-all;
  


    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    
}
table{
    color:rgb(0,0,0)
}


.config{
    width: 200px;
}



  

  svg rect{
     
      fill:rgb(0,0,0);
      stroke-width:4;
      stroke:#F36B08;
      cursor: pointer;
  }
  svg path{
   stroke:rgb(0,0,0);
   stroke-width:3;
   z-index: -99;

  }

  .Popup{
      position: absolute;
      top:0;
      left: 0;
      z-index:100;
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      height: 100%;
      display: none;

  }

  .MDNSType{
    position: relative;
    left: 80px;
    bottom: -20px;
    color: black;
    font-size: 12px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
  }

 



